[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	#url = ssh://js@127.0.0.1/gitRepositorys/ti_sdk/board-support/linux-3.14.26-g2489c02/
	url = ssh://js@172.16.78.215/gitRepositorys/ti_sdk/board-support/linux-3.14.26-g2489c02/
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "amsdk-8.0"]
	remote = origin
	merge = refs/heads/amsdk-8.0
