[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	#url = ssh://js@127.0.0.1/gitRepositorys/ti_sdk/board-support/u-boot-2014.07-g7e537bf/
	url = ssh://js@172.16.78.215/gitRepositorys/ti_sdk/board-support/u-boot-2014.07-g7e537bf/
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
